*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	/*transition: all.5s ease-in-out;*/
}
button{
	position: relative;
}
.messages_div{
	display: flex;
	gap: 10px;
	margin: 10px;
}
.messages_div:hover > :not(:hover){
	opacity: .5;
}
.message_text{
	display: flex;
	text-align: center;
	text-transform: capitalize;
	background-color: #970707;
	color: white;
	padding: 10px;
	border-radius: 10px;
}
.message_text:hover{
	border-radius: 20px;
}
.container_form{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00000080;
	width: 100vw;
	height: 100vh;
	inset: 0;
	opacity: 0;
	margin: auto;
	z-index: -10;
}
.form_container{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00000080;
	width: 100dvw;
	height: 100dvh;
	inset: 0;
	margin: auto;
}
.success_img{
	width: 60px;
	border-radius: 10px;
	padding: 20px;
	filter: brightness(0)
	 saturate(100%)
	 invert(100%)
	 sepia(21%)
	 saturate(6385%)
	 hue-rotate(43deg)
	 brightness(104%)
	 contrast(102%);
}
.form_div{
	background-color: #1CD6E7;
	display: flex;
	padding: 20px;
}
.form_div form{
	display: grid;
	gap: 10px;
}
.form_div form input{
	padding: 10px;
}
.console{
	position: fixed;
	top: 0;
	right: 0;
	background-color: #61B3FF;
	padding: 10px;
	z-index: 100;
	text-transform: lowercase;
}
.input{
	outline: none;
	border: solid black;
	padding: 10px;
	border-top: none;
	border-left: none;
	border-right: none;
	position: relative;
}
.form{
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #FEFCFC;
	padding: 30px;
	border-radius: 20px;
}
.form_cont{
	position: fixed;
	inset: 0;
	margin: auto;
	background-color: #00000099;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}
.styled_btn{
	z-index: 10;
}
.div_hide{
	position: absolute;
	background-color: #8AC0EE;
	width: 50dvw;
	height: 50dvh;
	inset: 0;
	margin: auto;
	display: none;
}